{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | Swiggy</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="container max-h-screen bg-white bg-center px-28 py-5 dark:bg-slate-900 dark:text-white">
    <nav class="flex items-center">
      <img src="{% static 'images/swiggy.png' %}" alt="img" class="animate-ping transition delay-500 duration-600"><a href="#" class="font-bold text-orange-300">SWIGGY</a>
      <ul class="flex-1 text-center">
        <li class="list-none inline-block px-5"><a href="/" class="no-underline">Home</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="no-underline">About</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="no-underline">Features</a></li>
        <li class="list-none inline-block px-5"><a href="#" class="no-underline">Contact</a></li>
      </ul>
     
      {% if user.is_authenticated %} 
      <a href="{% url 'logout' %}" class="px-5 no-underline">Logout</a>
      <a href="{% url 'food_model:restaurant' %}" class="no-underline px-7">Order Now!</a>  
      <a href="{% url 'food_model:profile_view' %}">{{ request.user }}</a>
     {% else %}
        <a href="{% url 'food_model:login' %}" class="px-10 no-underline">Login</a>
        <a href="{% url 'food_model:register' %}" class="no-underline">Signup</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>